*{
    margin: 0;
    padding: 0;
}

/* */
body{
    overflow: hidden;
}

.gamecontainer{
    background-color: aqua;
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/252/858/original/cartoon-jungle-environment-background-free-vector.jpg');
    background-repeat: no-repeat;
    width: 100vh 100vw;
    height:100vh;
}

.score{
    float: right;
    font-size: 40px;
    color:rgb(35, 214, 254);
    margin-top: 20px;
    margin-right: 20px;
    border-style:groove;
}
#gamescore{
    color:red
}

.dino{
    background-image: url('https://freepngimg.com/thumb/godzilla/24441-8-godzilla-transparent-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 249px ;
    height:204px;
    position: absolute;
    bottom: 0;
}

.obstacle{
    background-image: url('https://bestanimations.com/media/dragons/1317736473Dragon-16-june.gif');
    background-repeat: no-repeat;
    background-size: cover;
    width:200px;
    height:200px;
    position: absolute;
    bottom: 0;
    left:80%
}

.animatedino {
    animation: dino 0.6s linear;
}

.gameover{
    background-image: url('https://www.virtualproleague.com/portal/assets/images/escudos/escudo_time_18788_1552636154.png');
    visibility: hidden;
    font-size: xx-large;
    color:rgb(238, 238, 238);
    /* background-color: rgb(0, 0, 0); */
    width:70%;
    height:500px;
    background-size: cover;
    bottom:30;
    position: absolute;
    text-align: center;
    margin-top: 130px;
    text-size-adjust: 23px;
    left:15vw;
    border-style:groove;
    
}

.gamestart{
    background-image: url('https://cdn.textstudio.com/output/graphic/preview/large/0/9/3/2/239_567e7c0c.webp');
    background-repeat: no-repeat;
    visibility : visible;
    font-size: xx-large;
    color:rgb(0, 0, 0);
    background-color: rgb(244, 72, 72);
    width:70%;
    height:500px;
    background-size: cover;
    bottom:30;
    position: absolute;
    text-align: center;
    margin-top: 100px;
    text-size-adjust: 23px;
    left:15vw
}

.start{
    font-size: xx-large;
    color:rgb(0, 0, 0);
    background-color: rgb(244, 72, 72);
    width:70%;
    height:500px;
    background-size: cover;
    bottom:30;
    position: absolute;
    text-align: center;
    margin-top: 100px;
    text-size-adjust: 23px;
    left:15vw
}


@keyframes dino{
    0%{
        bottom: 0;
    }
    50%{
        bottom:422px;
    }
    100%{
        bottom: 0;
    }
}

.obstacleani {
    animation: obstacleani 2s linear infinite;
}

.obstacleani2{
    animation: obstacleani 0.95s linear infinite;
}
.obstacleani3{
    animation: obstacleani 0.90s linear infinite;
}
.obstacleani4{
    animation: obstacleani 0.85s linear infinite;
}
.obstacleani5{
    animation: obstacleani 0.80s linear infinite;
}
.obstacleani6{
    animation: obstacleani 0.75s linear infinite;
}
.obstacleani7{
    animation: obstacleani 0.65s linear infinite;
}
.obstacleani8{
    animation: obstacleani 0.55s linear infinite;
}
.obstacleani9{
    animation: obstacleani 0.20s linear infinite;
}

@keyframes obstacleani{
    0%{
        left:100vw;
    }
    100%{
        left:-10vw;
    }
}

